# Balanced profile: ~5 Mbit/s with BLE, ~90KB free heap
CONFIG_LWIP_TCP_WND_DEFAULT=16384
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=10
CONFIG_ESP_WIFI_RX_BA_WIN=16
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=12
CONFIG_LWIP_TCP_RECVMBOX_SIZE=12
